@model MyProject.Models.student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>student</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.birthDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.birthDay, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.birthDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gender)
                @Html.ValidationMessageFor(model => model.gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createDate, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.createDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.education, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.education)
                @Html.ValidationMessageFor(model => model.education)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.company, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.company)
                @Html.ValidationMessageFor(model => model.company)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telno)
                @Html.ValidationMessageFor(model => model.telno)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cellno, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cellno)
                @Html.ValidationMessageFor(model => model.cellno)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
