@model MyProject.Models.calendar_detail

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>calendar_detail</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.subject, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subject)
                @Html.ValidationMessageFor(model => model.subject)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.startDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.startDateTime, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.startDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.endDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.endDateTime, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.endDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.feeStaff, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.feeStaff)
                @Html.ValidationMessageFor(model => model.feeStaff)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.feeNonStaff, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.feeNonStaff)
                @Html.ValidationMessageFor(model => model.feeNonStaff)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contact, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contact)
                @Html.ValidationMessageFor(model => model.contact)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.contactTel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.contactTel)
                @Html.ValidationMessageFor(model => model.contactTel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.describe, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.describe)
                @Html.ValidationMessageFor(model => model.describe)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
