@model MyProject.Models.TaiwanZipCode

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaiwanZipCode</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        <dt>
            @Html.DisplayNameFor(model => model.Sequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sequence)
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
    </dl>
</div>
<p>
            @Html.ActionLink("Edit", "Edit", new {
 						ID = Model.ID 
 						}) |
    @Html.ActionLink("Back to List", "Index")
</p>
 
