@model MyProject.Models.courseIntro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>courseIntro</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        <dt>
            @Html.DisplayNameFor(model => model.describe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.describe)
        <dt>
            @Html.DisplayNameFor(model => model.pic2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pic2)
    </dl>
</div>
<p>
            @Html.ActionLink("Edit", "Edit", new {
 						id = Model.id 
 						}) |
    @Html.ActionLink("Back to List", "Index")
</p>
 
