@model MyProject.Models.teacher

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>teacher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        <dt>
            @Html.DisplayNameFor(model => model.createDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createDate)
        <dt>
            @Html.DisplayNameFor(model => model.birthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birthDay)
        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        <dt>
            @Html.DisplayNameFor(model => model.officeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.officeAddress)
        <dt>
            @Html.DisplayNameFor(model => model.telPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telPhone)
        <dt>
            @Html.DisplayNameFor(model => model.cellPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cellPhone)
        <dt>
            @Html.DisplayNameFor(model => model.job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.job)
        <dt>
            @Html.DisplayNameFor(model => model.ability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ability)
        <dt>
            @Html.DisplayNameFor(model => model.educational)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.educational)
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
 
