@model MyProject.Models.teacher

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>teacher</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name)
                @Html.ValidationMessageFor(model => model.name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gender, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gender)
                @Html.ValidationMessageFor(model => model.gender)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.createDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.createDate, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.createDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.birthDay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.birthDay, new { @class = "datepicker" })
                @Html.ValidationMessageFor(model => model.birthDay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.officeAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.officeAddress)
                @Html.ValidationMessageFor(model => model.officeAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.telPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.telPhone)
                @Html.ValidationMessageFor(model => model.telPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cellPhone, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cellPhone)
                @Html.ValidationMessageFor(model => model.cellPhone)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.job, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.job)
                @Html.ValidationMessageFor(model => model.job)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ability, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ability)
                @Html.ValidationMessageFor(model => model.ability)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.educational, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.educational)
                @Html.ValidationMessageFor(model => model.educational)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
 
